.flexbox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 89vw;
  margin: 10px;
}

.container_card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  margin: 10px;
  background-color: #161b22;
  border-radius: 5px;
}

.menu {
  display: flex;
  padding: 30px;
  background-color: hsl(215, 39%, 22%);
  border-radius: 5px;
  margin: 10px;
  flex-direction: column;
}

.menu_option {
  flex-grow: 1;
  margin: 10px;
}

.menu_bar {
  display: flex;
  background-color: #000;
  padding: 20px;
  justify-content: space-evenly;
}

.menu_bar span {
  display: flex;
}

.hidden_menu {
  /* May switch between flex or none */
  display: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #161b22;
  height: 50px;
}

.hidden_menu button {
  border-radius: 0;
  flex-grow: 1;
  width: fit-content;
}
